extends ../../templates/layout.jade

block title
    title #{globals.ipf.title} | Events | Tour of Homes

block contents

    .u-container
    
        h1 Tour of Homes
        
        mixin tertiaryNav(globals.events.nav, "tour of homes")
        
        p The Tour of Homes is a self-conducted tour of some of the beautiful homes and buildings in Inman Park. See inside some of the glorious old Victorian homes or check out some of the beautiful remodeling jobs neighbors have completed on their houses.
        
        p The home preview starts on Friday #{globals.ipf.date.friday.date} between #{globals.ipf.date.friday.hours} and continues through Saturday and Sunday between #{globals.ipf.date.saturday.hours}.
        
        h2 Important Details
        
        ul
            li Kids under 12 years get free Home Tour tickets but have to be under constant supervision of an adult.
            li If you buy tickets online, you must print out your PayPal confirmation and bring it to Festival in order to exchange it for your Tour of Homes ticket(s). <strong>Or whatever is new for this year</strong>
            li Tour tickets are valid the entire weekend of festival but each house can only be visited once per ticket.
            li Discounted Home tour tickets ($5.00 off) are available until noon on the Friday Festival starts.
        
        if globals.tour.active
            h2 This Year's Homes
        else
            h2 Last Year's Homes    
            p Next year's homes on tour will be posted once the list of homes is finalized.
        
        ul.TourHomes
            - var n = 0
            while n < 6
                - n++
                li
                    h3
                        | Home Owner Names #{n}
                        small Home Address #{n}
                    
                    .PlaceholderImage home image #{n}
                    
                    p Home descriptive text.
                            
