extends ../../templates/layout.jade

block title
    title #{globals.ipf.title} | Market | Become an Exhibitor

block contents

    .u-container
    
        h1 Become an Exhibitor
        
        mixin tertiaryNav(globals.markets.nav, "become an exhibitor")
        
        p To apply to become a vendor for the #{globals.ipf.date.year} #{globals.ipf.title}, fill out the initial vendor application and return it to the address specified in the application PDF. 
        
        p For the #{globals.ipf.date.year} #{globals.ipf.title}:
        
        ul
            li Application submissions must be postmarked by #{globals.vendors.deadline}
            li Vendors will be notified of acceptance no later than #{globals.vendors.notification}

        p 
            a(href="/assets/files/Vendor-Application-2016.pdf") Click here to download the Vendor Application PDF.

        p 
            | If you need the Adobe Acrobat Reader to view this PDF file, you can 
            = ' '
            a(href="https://get.adobe.com/reader" target="_blank") download it for free here.
