extends ../templates/layout.jade

block pageVars
    - var selectedNav = 'about'

block title
    title About the #{globals.ipf.title}

block contents

    .u-container

        h1 About the Inman Park Festival

        article

            p Inman Park Spring Festival takes place in one of Atlanta’s oldest and most scenic neighborhoods. First developed in the late 1800s, Inman Park is home to many historic homes and parks. The Festival began in the early 1970s as a means to attract attention to gentrification efforts that sought to revitalize the community.

            p The festival offers something for everybody. Music, kids activities, a Tour of Homes, a marvelous street parade, an artists’ market, some of the city’s best people-watching. Come early, stay late, and be our guests at Atlanta’s best street festival.


            h2 Important Festival Details
            
            h3 Festival hours are:

            ul
                li Friday, #{globals.ipf.date.friday.date}: #{globals.ipf.date.friday.hours} (Tour of Homes preview only)
                li Saturday, #{globals.ipf.date.saturday.date}: #{globals.ipf.date.saturday.hours}
                li Sunday, #{globals.ipf.date.sunday.date}: #{globals.ipf.date.sunday.hours}
                
            p Note that on Friday, no other festival activities will happen other than the Tour preview. 

                
            h3 Admission
            
            p Admission to all Festival events, except the Tour of Homes, is free. Tour of Homes tickets are $#{globals.tour.cost.advance} in advance and $#{globals.tour.cost.door} starting Friday, #{globals.ipf.date.friday.date}.

            
            h3 Arrival
            
            p Check out the <a href="/map">Map page</a> for an overview of important festival locations. For information on how to get to festival, see the <a href="/directions">Directions page</a>. <strong>We highly recommend not driving to the neighborhood.</strong>
            
            
            h2 Summary of Events
            
            h3 Tour of Homes
            
            p The Tour of Homes is a self-conducted tour of some of the beautiful homes and buildings in Inman Park. See inside some of the glorious old Victorian homes or check out some of the beautiful remodeling jobs neighbors have completed on their houses.
            
            p The home preview starts on Friday #{globals.ipf.date.friday.date} between #{globals.ipf.date.friday.hours} and continues through Saturday and Sunday between #{globals.ipf.date.saturday.hours}.
            
            p 
                | To find out more about the Tour of Homes and read about the homes on the tour, visit the
                = ' ' 
                a(href="/events/tour-of-homes") Tour of Homes page.
            
            
            h3 Parade
            
            p The Festival Parade is a festival favorite that happens at 2PM on Saturday. Come see some of Atlanta's wild and quirky groups march through the streets of Inman Park. For more information, or to learn about applying to be in the festival parade, <a href="/events/parade">visit the parade page</a>.
            
            h3 Music
            
            p There are many bands playing a wide variety of music across three stages on Saturday and Sunday. To see which bands are playing and to view the music schedule, check out the <a href="/events/music">music page</a>.
            
            
            h3 Dance Festival
            
            p Every year The Trolley Barn hosts a program of classical and contemporary dance. Check out <a href="/events/dance">the dance page</a> to learn more about the dance program. 
            
            
            h3 Arts & Crafts Show and Street Market
            
            p Browse many booths on the tree-shaded streets of Inman Park from 11AM to 6PM Saturday and Sunday during festival. The <a href="/market/arts-crafts-market">Arts & Crafts Market</a> is a juried selection of more than 150 artists showcasing their work in a variety of media including sculpture, painting and photography. The <a href="/market/street-market">Street Market</a> includes more than 250 booths of vendors selling antiques, handcrafted wares, clothing and a large variety of other items.
            
            
