extends templates/layout.jade

block pageVars
    - var selectedNav = 'home'

block title
    title The #{ipf.date.year} #{ipf.title}

block contents

    .u-container

        h1 Welcome to Atlanta's Best Street Festival

        article

            h2 Inman Park Festival #{ipf.date.year}
            
            section.Hero
            
                p Tour of Homes Preview: Friday, #{ipf.date.friday.date} (#{ipf.date.friday.hours})

                p Festival: Saturday #{ipf.date.saturday.date} and Sunday #{ipf.date.sunday.date}, #{ipf.date.year} (#{ipf.date.saturday.hours})

                


            p During the last full weekend in April each year, Inman Park proudly presents a neighborhood festival widely regarded as Atlanta&rsquo;s most spirited and eclectic.

            p Please join us for the #{ipf.date.annual}th Inman Park Spring Festival and Tour Of Homes.


            h3 Primary Site Sections

            ul
                li Festival Info
                li Market
                li Events
                li Food
                li Sponsors
                li Volunteers


            h3 Reminders

            ul
                li no pets


            h3 Getting Social

            ul
                li FB
                li Twitter
                li YouTube
                li Instagram

                
