extends templates/layout.jade

block pageVars
    - var selectedNav = 'home'

block title
    title The #{ipf.date.year} #{ipf.title}

block contents

    h1 Home Page

    article

        h2 Inman Park Festival 

        p Tour of Homes Preview: Friday, April #{ipf.date.friday} (noon-4pm)

        p Festival: Saturday and Sunday, April #{ipf.date.saturday} and #{ipf.date.sunday}, #{ipf.date.year} (noon-6pm)

        p Map | Directions | Parking | FAQ


        h3 Welcome to Atlanta's Best Street Festival

        p During the last full weekend in April each year, Inman Park proudly presents a neighborhood festival widely regarded as Atlanta&rsquo;s most spirited and eclectic.

        p Please join us for the #{ipf.date.annual}th Inman Park Spring Festival and Tour Of Homes. The House Tour Preview will be Friday, April #{ipf.date.friday} (Noon - 4pm), and Festival on April #{ipf.date.saturday} and #{ipf.date.sunday}, #{ipf.date.saturday} and #{ipf.date.year} (Noon - 6pm).


        h3 Primary Site Sections

        ul
            li Festival Info
            li Market
            li Events
            li Food
            li Sponsors
            li Volunteers


        h3 Reminders

        ul
            li no pets


        h3 Getting Social

        ul
            li FB
            li Twitter
            li YouTube
            li Instagram

        h3 Footer

        ul
            li sponsor logos
            li copyright
            li contact/terms/privacy


